.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding-left: 20px;
      padding-right: 20px;
      padding-top: 10px;
      padding-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 1s,padding-left 0.6s,padding-right 0.6s,padding-top 0.5s,padding-bottom 0.5s,font-size 0.5s;
    vertical-align: top;
  }
  .subscribe-button:hover{
      opacity: 0.5;
      font-size: 10px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 8px;
      padding-bottom: 8px;
  }
  .subscribe-button:active{
      background-color: rgb(170, 170, 170);
      

  }

  .join-button {
    background-color: white;
    border-color: rgb(6, 95, 212);
    border-style: solid;
    border-width: 1px;
    color: rgb(6, 95, 212);
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 2px;
    cursor: pointer;
    transition : background-color 1s;
  }
  .join-button:hover{
      background-color: rgb(6, 95, 212);
      color:white;
      
  }
  .join-button:active{
      opacity: 0.6;
  }

  .tweet-button {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    height: 36px;
    width: 74px;
    border-radius: 8px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8px;
  }
  .tweet-button:hover{
      box-shadow: 0 10px 10px rgba(0,0,0,0.16);
  }