p{
    font-family: Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.ps{
    font-size: 10px;
    text-align: center;
    color: orangered;
    margin-bottom: 6px;
    font-weight: bold;

}
.mac{
    text-align: center;
    font-size: 20;
    color: black;
    font-weight: bold;
    
}
.sur{
    text-align: center;
    font-size: 35;
    color: black;
    font-weight: bold;
    margin-bottom: 8px;

}
.ff{
    text-align: center;
    font-size: 13;
    color: rgb(98, 91, 91);
    font-weight: bold;
    margin-bottom: 10px;
}
button{
    font-family: Arial;
    font-size: 16;
    font-weight: bold;
    
    background-color: rgb(8, 110, 253);
    color:white;
    border-radius: 15px;
    border: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 13px;
    padding-right: 13px;
    cursor: pointer;
    transition: background-color 0.6;
}
button:hover{
    background-color:rgb(36, 99, 187) ;
}
button:active{
    opacity: 0.5;
}