.header {
    height: 55px;
  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(228, 228, 228);
    z-index: 3;
    
  }
  
  .left-section {
    display: flex;
    align-items: center;
  }
  
  .hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .youtube-logo {
    height: 20px;
  }
  
  .middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    flex: 1;
    height: 36px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    border-radius: 2px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
    width: 0;
  }
  
  .search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
  }
  
  .search-button {
    height: 40px;
    width: 66px;
    background-color: rgb(240, 240, 240);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(192, 192, 192);
    margin-left: -1px;
    margin-right: 10px;
    
    position: relative;

  } 
  .search-button,.voice-search-button{
    display: flex;
  }
  .search-button .tool,.voice-search-button .tool{
    position: absolute;
    
    background-color: gray;
    color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    font-size: 12px;
    bottom: -30px;
    opacity: 0;
    transition: opacity 0.25s;
    pointer-events: none;
  
    white-space: nowrap;
    
  }
  .search-button:hover .tool,.voice-search-button:hover .tool{
    opacity: 1;
  }
  
  
  
  .search-icon {
    height: 25px;
    margin-top: 4px;
    
  }
  
  .voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    background-color: rgb(245, 245, 245);
    position: relative;
  }
  
  
  .voice-search-icon {
    height: 24px;
    margin-top: 4px;
  }
  
  .right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
  }
  
  .upload-icon {
    height: 24px;
  }
  
  .youtube-apps-icon {
    height: 24px;
  }
  
  .notifications-icon {
    height: 24px;
  }

  .notify-icon-container{
    position: relative;
  }
  .notice-count{
    position: absolute;
    top: -3px;
    right: -5px;
    background-color: rgb(207, 0, 0);
    color: white;
    font-family: Roboto,Arial;
    font-size: 11px;
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  .current-user-picture {
    height: 32px;
    border-radius: 16px;
  }